@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face{
    font-family: "fontelogo";
    src: url(../fontes/IndieFlower-Regular.ttf)
}
body{
    background-image: url("../fotos/fundo.jpg");
}
h1#titulo{
    font-family: fontelogo sans-serif;
    font-size: 40pt;
   margin-top: 30px;
   margin-bottom: -20px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(57, 57, 204);
}
h2{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: rgb(57, 57, 204);
}
p{
    margin-top: 30px;
    padding-top: 10px;
    text-indent: 50px;
    font-size: 15pt;
    font-family: sans-serif arial;
    text-align: right;
}

p#rodape{
    font-size: 12pt;
    text-align: left;
}
div#d1{
    width: 1000px;
    margin: -30px auto 0px auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px 10px 10px 10px;
    background-color: rgba(23, 40, 78, 0.8);
    position: absolute;
    left: 200px;
    top: -5px;
    
}
nav#navegacao ul#menu{
    list-style: none;
    cursor: pointer;
}
nav#navegacao ul#menu li{
    text-transform: uppercase;
    background-color: rgba(18, 33, 235, 0.8) ;
    padding: 40px;
    width: 100px;
    position: relative;
    left: -40px;
    top: -20px;
    border-right: black solid 2px;
    border-bottom: black solid 1px;
    border-left: black solid 2px;
    border-top: black solid 1px;
    border-radius: 10px 30px 20px;
}
nav#navegacao ul#menu li:hover{
    background-color:rgba(54, 96, 214, 0.8) ;
}
a#redesocial{
    color: white;
}
a{
    color: black;
}
a:hover{
    text-decoration: underline;
    color: white;
}
header{
    border-bottom: black solid 1px;
}
footer{
    border-top: solid black 1px;
}
nav#navegacao ul#menu ul{
    position: absolute;
    visibility: hidden;
    left: 180px;
    top: 20px;
    z-index: 1;
   
}
nav#navegacao ul#menu li:hover ul{
    visibility: visible;
    }
    nav#navegacao ul#menu ul{
        float: none;
        list-style: none;
    }
    nav#navegacao ul#menu ul li.n {
        background-color: rgba(6, 8, 128, .9);   
    }
    nav#navegacao ul#menu ul li.n:hover {
        background-color: rgba(10, 83, 88, .9);   
    }
    nav#navegacao ul#menu ul li.n a {
        color: white;
    }
    
