@charset "UTF-8";
li{
    list-style: none;
}
li#arte{
    background: url("../../fotos/arte.jpg");
    width: 200px;
    height: 250px;
    background-size: 200px 250px;
    list-style: none;
    border: black solid 2px;
}
figcaption{
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
}
figcaption:hover{
opacity: 1;
}
p#sinopse{
    position: relative;
    top: -250px;
    text-align: right;
    margin-left: 240px;
    margin-bottom: -100px;
}
ul#episodios{
    font-size: 25px;
}
nav#apresentaçao{
    border-bottom: solid black 1px;
    
}